<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1>Actualice el alumno</h1>
      <label for="title">Matricula:</label>
          <form action="/tasks/{{task._id}}/edit" method="post">
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="title"
                placeholder="Escribe tu matricula"
                value="{{task.title}}"
              />
            
             <label for="title">Nombre:</label>
             <div class="mb-3">
              <textarea
                class="form-control"
                name="nombre"
                rows="3"
                placeholder="Escribe tu nombre"
              >{{task.nombre}}</textarea>
            </div>
            <label for="apellido_paterno">Apellido Paterno:</label>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="apellido_paterno"
                rows="3"
                placeholder="Agrega tu apellido"
              >{{task.apellido_paterno}}</textarea>
             </div>

             <label for="apellido_mater">Apellido Materno:</label>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="apellido_matern"
                rows="3"
                placeholder="Agrega tu apellido"
              >{{task.apellido_matern}}</textarea>
             </div>


           <label for="title">Genero:</label>
           <br>
           
          <input type="radio" name="genero" value="H"{{checked task.genero 'H'}}> Hombre
          <input type="radio" name="genero" value="M" {{checked task.genero 'M'}}> Mujer
          
          
          <br>
               <label for="title">Edad:</label>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="edad"
                rows="3"
                placeholder="Agrega tu edad"
              >{{task.edad}}</textarea>

              <label for="title">Estado civil:</label>
              <div class="mb-3">
              <input type="radio" name="estadocivil" value="Soltero" {{checked task.estadocivil 'Soltero'}}> Soltero(a)
              <input type="radio" name="estadocivil" value="Casado" {{checked task.estadocivil 'Casado'}}>  Casado(a)
              <input type="radio" name="estadocivil" value="Divorciado" {{checked task.estadocivil 'Divorciado'}}> Divorciado(a)
              <input type="radio" name="estadocivil" value="Union_libre" {{checked task.estadocivil 'Union_libre'}}> Union libre
            </div>

            <label for="title">Turno:</label>
           <br>
          <input type="radio" name="turno" value="Matutino"{{checked task.turno 'Matutino'}}>Matutino
          <input type="radio" name="turno" value="Vespertino"{{checked task.turno 'Vespertino'}}> Vespertino
          <br>
          <br>
          <label for="title">Especialidad:</label>
           <br>
          <div class="mb-3">
              <input type="radio" name="especialidad" value="Laboratorio"{{checked task.especialidad 'Laboratorio'}} > Laboratorio
              <input type="radio" name="especialidad" value="Contabilidad"{{checked task.especialidad 'Contabilidad'}}> Contabilidad
              <input type="radio" name="especialidad" value="Ofimatica"{{checked task.especialidad 'Ofimatica'}} > Ofimatica
              <input type="radio" name="especialidad" value="Dietetica" {{checked task.especialidad 'Dietetica'}}> Dietetica
            </div>

        <div class="mb-3">
        <label for="calle">Calle</label>
           <input
           class="form-control "
            name="calle"
            cols="80"
            required="true"
            placeholder="Escribe tu calle"
             value="{{task.calle}}" >   
          </div>

         
           <div class="mb-3">
        <label for="numero_exterior">Numero exterior</label>
           <input
           class="form-control"
            name="numero_exterior"
            cols="80"
          
            placeholder="Escribe tu numero exterior"
              value="{{task.numero_exterior}}" >   
          </div>

            <div class="mb-3">
        <label for="numero_interior">Numero interior</label>
           <input
           class="form-control"
            name="numero_interior"
            cols="80"
           
            placeholder="Escribe tu numero interior"
             value="{{task.numero_interior}}" > 
          </div>
          
             <label for="numero_interior">Colonia</label>
           <input
           class="form-control"
            name="colonia"
            cols="80"
            required="true"
            placeholder="Escribe tu colonia"
             value="{{task.colonia}}" > 
          </div>

          
          <label for="municipio">Municipio</label>
           <input
           class="form-control"
            name="municipio"
            cols="80"
            required="true"
            placeholder="Escribe tu municipio"
             value="{{task.municipio}}" > 
          </div>

          <label for="ciudad">Ciudad</label>
           <input
           class="form-control"
            name="ciudad"
            cols="80"
            required="true"
            placeholder="Escribe tu ciudad"
             value="{{task.ciudad}}" > 
         

          <br>
          <label for="">Codigo Postal</label>
           <input
           class="form-control"
            name="codigo_postal"
            cols="80"
            required="true"
            placeholder="Escribe tu ciudad"
             value="{{task.codigo_postal}}" > 
         
           <br>
          <label for="">Telefono celular</label>
           <input
           class="form-control"
            name="telefono_celular"
            cols="80"
            required="true"
            placeholder="Escribe tu telefono celular"
            pattern=".{0}|.{10}"
             value="{{task.telefono_celular}}" > 
         

           <br>
          
          <label for="">Telefono casa</label>
           <input
           class="form-control"
            name="telefono_casa"
            cols="80"
            required="true"
            placeholder="Escribe tu telefono casa"
            pattern=".{0}|.{10}"
             value="{{task.telefono_casa}}" > 
         
<br>
      <label for="plantel_egreso">Plantel de egreso</label>
      <input
        class="form-control"
        name="plantel_egreso"
        cols="80"
        required="true"
        placeholder="Escribe tu plantel de egreso"
         value="{{task.plantel_egreso}}" > 
     
     <br>    
          <label for="">Correo</label>
           <input
           class="form-control"
            name="correo"
            cols="80"
            required="true"
            placeholder="Escribe tu correo"
           
             value="{{task.correo}}" > 
         
 <br>    
          <label for="">Año de ingreso</label>
           <input
           class="form-control"
            name="año_ingreso"
            cols="80"
            required="true"
            placeholder="Escribe tu año de ingreso"
           
             value="{{task.año_ingreso}}" > 

    <br>    
          <label for="">Año de egreso</label>
           <input
           class="form-control"
            name="año_egreso"
            cols="80"
            required="true"
            placeholder="Escribe tu año de egreso"
           
             value="{{task.año_egreso}}" > 
 
      <br>

        <div class="mb-3">
       <label for="grupo">23.Grupo</label>
       <br>
       <input type="radio" name="grupo" value="1601" {{checked task.grupo '1601'}} > 1601
       <input type="radio" name="grupo" value="1602" {{checked task.grupo '1602'}} > 1602
       <input type="radio" name="grupo" value="1603" {{checked task.grupo '1603'}} > 1603
       <input type="radio" name="grupo" value="1607" {{checked task.grupo '1607'}} > 1607
       <input type="radio" name="grupo" value="1608" {{checked task.grupo '1608'}} > 1608
       <input type="radio" name="grupo" value="1609" {{checked task.grupo '1609'}} > 1609
       <br>
       <input type="radio" name="grupo" value="1612" {{checked task.grupo '1612'}} > 1612
       <input type="radio" name="grupo" value="1613" {{checked task.grupo '1613'}} > 1613
       <input type="radio" name="grupo" value="1614" {{checked task.grupo '1614'}} > 1614
       <input type="radio" name="grupo" value="1615" {{checked task.grupo '1615'}} > 1615
       <input type="radio" name="grupo" value="1616" {{checked task.grupo '1616'}} > 1616
       <input type="radio" name="grupo" value="2601" {{checked task.grupo '2601'}} > 2601
       <br>
       <input type="radio" name="grupo" value="2602" {{checked task.grupo '2602'}} > 2602
       <input type="radio" name="grupo" value="2603" {{checked task.grupo '2603'}} > 2603
       <input type="radio" name="grupo" value="2607" {{checked task.grupo '2607'}} > 2607
       <input type="radio" name="grupo" value="2608" {{checked task.grupo '2608'}} > 2608
       <input type="radio" name="grupo" value="2609" {{checked task.grupo '2609'}} > 2609
       <input type="radio" name="grupo" value="2612" {{checked task.grupo '2612'}} > 2612
       <br>
       <input type="radio" name="grupo" value="2613" {{checked task.grupo '2613'}} > 2613
       <input type="radio" name="grupo" value="2614" {{checked task.grupo '2614'}} > 2614
       <input type="radio" name="grupo" value="2615" {{checked task.grupo '2615'}} > 2615
       <input type="radio" name="grupo" value="2616" {{checked task.grupo '2616'}} > 2616
      </div>     

      <br>
        <div class="mb-3">
      <label for="edad">Modalidad del servicio</label>
       <br>
       <input type="radio" name="modalidad_servicio" value="Escolarizado" {{checked task.modalidad_servicio 'Escolarizado'}} > Escolarizado
       <input type="radio" name="modalidad_servicio" value="Sistema abierto" {{checked task.modalidad_servicio 'Sistema abierto'}}> Sistema abierto
       </div>
          <br>
          

      <div class="mb-3">
      <label for="actividad_que_realiza">¿Que actividad realizas actualmente?</label>
       <br>
       <input type="radio" name="actividad_que_realiza" value="Estudia" {{checked task.actividad_que_realiza 'Estudia'}}>Estudia
       <input type="radio" name="actividad_que_realiza" value="Trabaja"{{checked task.actividad_que_realiza 'Trabaja'}} >Trabaja
       <input type="radio" name="actividad_que_realiza" value="No estudia ni trabaja"{{checked task.actividad_que_realiza 'No estudia ni trabaja'}} >No estudia ni trabaja
       </div>
        <br>
       

      <div class="mb-3">
       <label for="estudia_nivel_superior">¿Estudia el nivel superior?</label>
       <br>
       <input type="radio" name="estudia_nivel_superior" value="Si"{{checked task.estudia_nivel_superior 'Si'}}>Si
       <input type="radio" name="estudia_nivel_superior" value="No"{{checked task.estudia_nivel_superior 'No'}}>No
      </div>


       <div class="mb-3">
       <label for="en_que_institucion">¿En que institucion de nivel superior estudia?</label>
       <br>
       <input type="radio" name="en_que_institucion" value="IPN"{{checked task.en_que_institucion 'IPN'}} >IPN
       <input type="radio" name="en_que_institucion" value="UNAM"{{checked task.en_que_institucion 'UNAM'}}>UNAM
       <input type="radio" name="en_que_institucion" value="UAM"{{checked task.en_que_institucion 'UAM'}}>UAM
       <input type="radio" name="en_que_institucion" value="UTN"{{checked task.en_que_institucion 'UTN'}}>UTN
       <input type="radio" name="en_que_institucion" value="Otra"{{checked task.en_que_institucion 'Otra'}}>Otra
      </div>     

     <div class="mb-3">
      <label for="que_carrera_estudias">.¿Que carrera estudias?</label>
      <input
        class="form-control"
        name="que_carrera_estudias"
        cols="80"
        placeholder="Escribe que carrera estudias"
         value="{{task.que_carrera_estudia}}"
       >
     </div>
      

<br>
      <div class="mb-3">
       <label for="causas_por_las_que_trabaja">¿Cuales son las razones por las que no trabajas?</label>
       <br>
       <input type="radio" name="causas_por_las_que_trabaja" value="Para terminar mi carrera"{{checked task.causas_por_las_que_trabaja 'Para terminar mi carrera'}}>Para terminar mi carrera<br>
       <input type="radio" name="causas_por_las_que_trabaja" value="Continuo mis estudios superiores"{{checked task.causas_por_las_que_trabaja 'Continuo mis estudios superiores'}}>Continuo mis estudios superiores<br>
       <input type="radio" name="causas_por_las_que_trabaja" value="Ubicacion lejano del trabajo"{{checked task.causas_por_las_que_trabaja 'Ubicacion lejano del trabajo'}}>Ubicacion lejano del trabajo<br>
       <input type="radio" name="causas_por_las_que_trabaja" value="La empresa ofrece salarios muy bajos"{{checked task.causas_por_las_que_trabaja 'La empresa ofrece salarios muy bajos'}}>La empresa ofrece salarios muy bajo<br>
       <input type="radio" name="causas_por_las_que_trabaja" value="Otros"{{checked task.causas_por_las_que_trabaja 'Otros'}}>Otros
      
      </div>     

       <div class="mb-3">
      <label for="que_lugar_trabaja">.¿En que lugar trabajas?</label>
      <input
        class="form-control"
        name="que_lugar_trabaja"
        cols="80"
        placeholder="Escribe que en que lugar trabajas"
        value="{{task.que_lugar_trabaja}}">

     
     <div class="mb-3">
      <label for="causas_por_las_que_no_trabajas_en_tu_perfil">30.¿Cuales son las causas por las que actualmente trabaja en actividades que no son de tu perfil?</label>
      <input
        class="form-control"
        name="causas_por_las_que_no_trabajas_en_tu_perfil"
        cols="80"
        placeholder="Escribe que las causas"
         value="{{task.causas_por_las_que_no_trabajas_en_tu_perfil}}">
    
     </div>

     </div>
</div>
<br>
 </div>
            <button class="btn btn-primary" type="submit">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>